<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" 
     th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                    <span data-feather="home" class="align-text-bottom"></span>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/productos/mostrar}">
                    <span data-feather="box" class="align-text-bottom"></span>
                    Productos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/vender/}">
                    <span data-feather="shopping-cart" class="align-text-bottom"></span>
                    Realizar Pedido
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="users" class="align-text-bottom"></span>
                    Clientes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="users" class="align-text-bottom"></span>
                    Empleados
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/ventas/}">
                    <span data-feather="credit-card" class="align-text-bottom"></span>
                    Ventas
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="layers" class="align-text-bottom"></span>
                    Integrations
                </a>
            </li>

        </ul>


    </div>
</nav>